In [ ]:
https://joernhees.de/blog/2015/08/26/scipy-hierarchical-clustering-and-dendrogram-tutorial/

In [1]:
# Librairie pandas (manipulation de données csv, dataframe, etc.)
import pandas as pd

# Import et lecture du corpus :
corpus = pd.read_csv('corpus_tokmorph.csv')
corpus.head()

,Unnamed: 0,Unnamed: 0.1,Song,Album Debut,Songwriter(s),Lead Vocal(s),Year,Lyrics,words,lemma,pos,3grams_pos
0,0,1,"""Across the Universe""",Let It Be,Lennon,Lennon,1968,Words are flowing out like endless rain into a...,Words,['word'],['NOUN'],"(['NOUN'], ['AUX'], ['VERB'])"
1,1,1,"""Across the Universe""",Let It Be,Lennon,Lennon,1968,Words are flowing out like endless rain into a...,are,['be'],['AUX'],"(['AUX'], ['VERB'], ['ADP'])"
2,2,1,"""Across the Universe""",Let It Be,Lennon,Lennon,1968,Words are flowing out like endless rain into a...,flowing,['flow'],['VERB'],"(['VERB'], ['ADP'], ['INTJ'])"
3,3,1,"""Across the Universe""",Let It Be,Lennon,Lennon,1968,Words are flowing out like endless rain into a...,out,['out'],['ADP'],"(['ADP'], ['INTJ'], ['ADJ'])"
4,4,1,"""Across the Universe""",Let It Be,Lennon,Lennon,1968,Words are flowing out like endless rain into a...,like,['like'],['INTJ'],"(['INTJ'], ['ADJ'], ['NOUN'])"

In [4]:
corpus = corpus.drop('Unnamed: 0', 1)
corpus = corpus.drop('Unnamed: 0.1', 1)
corpus

KeyError: "['Unnamed: 0'] not found in axis"

In [6]:
## Calcul de la fréquence de chacun des mots / lemme / pos : 

count = corpus.groupby(['Songwriter(s)', 'words']).size()
count.head

<bound method NDFrame.head of Songwriter(s)  words
Lennon                      34
               !             3
               "            22
               '             6
               'Cause       13
                          ...
McCartney      yet           1
               you         388
               young         1
               your         67
               yourself      5
Length: 3979, dtype: int64>

In [14]:
pd.DataFrame(count, columns=['freq'])

                        freq
Songwriter(s) words
Lennon                    34
              !            3
              "           22
              '            6
              'Cause      13
...                      ...
McCartney     yet          1
              you        388
              young        1
              your        67
              yourself     5

[3979 rows x 1 columns]

In [ ]:
# Pour l'application facile du dendogramme : voir :

https://stackabuse.com/hierarchical-clustering-with-python-and-scikit-learn/